@font-face {
    font-family: 'Conv_plumb-regular';
    src: url('../fonts/plumb-regular.eot');
    src: local('☺'), url('../fonts/plumb-regular.woff') format('woff'), url('../fonts/plumb-regular.ttf') format('truetype'), url('../fonts/plumb-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-family: 'Conv_plumb-light';
    src: url('../fonts/plumb-light.eot');
    src: local('☺'), url('../fonts/plumb-light.woff') format('woff'), url('../fonts/plumb-light.ttf') format('truetype'), url('../fonts/plumb-light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ffffff;
    font-family: 'Conv_plumb-regular', Sans-Serif;
    color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    /*outline: 5px solid red;*/
    width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
    position: relative;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

section.start {
    background-color: #000000;
    min-height: 680px;
    /*height: 100vh;*/
    background: url(../img/02_start1200.png) no-repeat #000000;
    background-position: 50% 100%;
    min-width: 1200px;
}

.logo {
    padding-top: 20px;
    padding-left: 24px;
    position: fixed;
    z-index: 10;
}

.menu_button {
    padding-top: 16px;
    padding-right: 24px;
    right: 0;
    cursor: pointer;
    display: block;
    position: fixed;
    z-index: 10;
}

.menu_button-hidden {
    display: none;
}

.modal-menu {
    background-color: #b4b4b6;
    position: fixed;
    top: 0;
    right: 0;
    min-width: 400px;
    /*width: 33%;*/
    z-index: 2;
    height: 100%;
    display: none;
}

.modal-menu-show {
    display: block;
}

.modal-menu-close {
    cursor: pointer;
}

.top-menu {
    padding-left: 25px;
    padding-right: 28px;
    padding-top: 20px;
}

.top-menu img:nth-child(1) {
    float: left;
}

.top-menu img:nth-child(2) {
    float: right;
}

.modal-menu ul {
    list-style: none;
    font-size: 19.02px;
    padding-left: 25px;
    margin-top: 25px;
}

.modal-menu li {
    margin-bottom: 12px;
}

.modal-menu ul li:nth-child(5) {
    margin-bottom: 8px;
}

.menu-subblock {
    margin-top: 203px;
}

.modal-menu p {
    font-size: 9.42px;
    line-height: 11px;
    padding-left: 25px;
    padding-right: 30px;
}

.menu-submenu {
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 9.42px;
    padding-right: 30px;
    padding-left: 270px;
}

.menu-submenu img,
.menu-submenu a {
    display: inline-block;
    vertical-align: middle;
}

section.news {
    background-color: #000000;
    min-height: 680px;
    /*height: 100vh;*/
    background: url(../img/03_news1200.png) no-repeat #000000;
    background-position: 50% 100%;
    min-width: 1200px;
}

.news-content {
    background-color: #ededee;
    position: absolute;
    width: 345px;
    min-height: 287px;
    font-size: 13.09px;
    position: absolute;
    top: 60px;
    right: 50px;
}

h2 {
    font-size: 47.42px;
}

.news-information {
    font-size: 44.22px;
    color: #ffffff;
}

h2,
h3 {
    margin: 0;
}

h3.news-date {
    font-size: 92.63px;
    color: #ffffff;
}

section.explore {
    background-color: #000000;
    min-height: 680px;
    /*height: 100vh;*/
    background: url(../img/04_explore1200.png) no-repeat #000000;
    background-position: 50% 100%;
    min-width: 1200px;
}

.explore-content {
    background-color: #ededee;
    position: absolute;
    width: 345px;
    min-height: 287px;
    font-size: 13.09px;
    position: absolute;
    top: 60px;
    right: 50px;
}

section.howitworks {
    background-color: #ffffff;
    min-height: 680px;
    /*height: 100vh;*/
    background: url(../img/05_howitworks1200.png) no-repeat #ffffff;
    background-position: 50% 100%;
    min-width: 1200px;
}

section.app {
    background-color: #ffffff;
    min-height: 680px;
    /*height: 100vh;*/
    background: url(../img/06_app1200.png) no-repeat #ffffff;
    background-position: 50% 100%;
    min-width: 1200px;
}

.app-content {
    background-color: #ededee;
    position: absolute;
    width: 345px;
    min-height: 287px;
    font-size: 13px;
    position: absolute;
    top: 60px;
    right: 50px;
}

.app-content h2 {
    font-weight: normal;
    font-size: 47.41px;
    margin-top: 29px;
    margin-bottom: 17px;
    padding-left: 105px;
}

.app-content h2::before {
    content: "";
    position: absolute;
    width: 57px;
    height: 65px;
    top: 22px;
    left: 36px;
    background: transparent url("../img/qoobi_header_logo.png") no-repeat;
}

section.range {
    background-color: #ffffff;
    min-height: 482px;
    /*height: 100vh;*/
    /*background: url(../img/06_app1200.png) no-repeat #ffffff;*/
    background-position: 50% 100%;
    min-width: 1200px;
}

.about-model {
    display: inline-block;
    vertical-align: middle;
}

section.whoarewe {
    background-color: #ffffff;
    min-height: 680px;
    /*height: 100vh;*/
    background: url(../img/08_whoweare1200.png) no-repeat #ffffff;
    background-position: 50% 100%;
    min-width: 1200px;
}

.q-is-it {
    font-family: 'Conv_plumb-light', Sans-Serif;
    font-weight: normal;
    font-size: 57.45px;
    position: absolute;
    top: 153px;
    left: 153px;
}

.q-is-it::before {
    content: "";
    position: absolute;
    width: 96px;
    height: 109px;
    top: -94px;
    left: -62px;
    background: transparent url("../img/qoobi_header_logo2.png") no-repeat;
}

.whoarewe-content {
    background-color: #ededee;
    position: absolute;
    width: 345px;
    min-height: 287px;
    font-size: 13.09px;
    position: absolute;
    top: 60px;
    right: 50px;
}

.whoarewe-content h2 {
    padding-left: 35px;
    margin-top: 33px;
    margin-bottom: 15px;
}

.news-content p,
.explore-content p,
.app-content p,
.whoarewe-content p {
    margin: 0;
    padding: 0 35px;
    padding-bottom: 15px;
    line-height: 15px;
    text-align: justify;
}

.section-team {
    min-height: 680px;
    min-width: 1200px;
}

.team-content {
    min-height: 460px;
    background-color: #ededee;
    min-width: 1200px;
}

.team-content h2 {
    font-family: 'Conv_plumb-light', Sans-Serif;
    font-weight: normal;
    text-align: center;
    font-size: 39.37px;
    padding-top: 52px;
    position: relative;
    display: block;
    padding-left: 53px;
}

.team-content h2::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 54px;
    bottom: -5px;
    right: 52.2%;
    background: transparent url("../img/qoobi_header_logo3.png") no-repeat;
}

.faces {
    padding-left: 50px;
}

.face {
    /*display: inline-block;
    vertical-align: top;*/
    float: left;
    /*padding-left: 50px;*/
    padding-right: 36px;
    width: 320px;
    position: relative;
}

.face h3 {
    font-family: 'Conv_plumb-light', Sans-Serif;
    font-size: 27.84px;
    line-height: 27.03px;
    font-weight: normal;
    width: 180px;
    margin-top: 43px;
}

.face img {
    padding-top: 15px;
}

.face p {
    font-family: 'Conv_plumb-light', Sans-Serif;
    font-size: 13.09px;
    width: 160px;
    position: absolute;
    top: 213px;
}

.face:nth-child(1) p {
    left: 170px;
}

.face:nth-child(2) p {
    left: 200px;
}

item.face:last-child {
    padding-right: 0;
    padding-left: 20px;
}

.face:nth-child(3) p {
    left: 240px;
}

.team-contacts {
    background-color: #ffffff;
    /*position: absolute;*/
}

.cornerlogo {
    margin-top: 80px;
    background: url(../img/qoobi_square_contacts.png) no-repeat #000000;
    background-position: 50% 50%;
    width: 130px;
    height: 140px;
    /*float: left;*/
}

.address {
    font-family: 'Conv_plumb-light', Sans-Serif;
    font-size: 12.59px;
    list-style: none;
    /*float: left;*/
    padding: 0;
    margin: 0;
    padding-right: 40px;
    /*padding-top: 130px;*/
}

.address li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
}

.address li:last-child {
    padding-right: 0;
}

.contacts-menu {
    font-size: 9.43px;
    list-style: none;
    text-transform: uppercase;
    margin: 0;
    /*padding-top: 18px;*/
    /*margin-left: 10px;*/
}

.contacts-menu li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}

.contacts-menu li:last-child {
    padding-right: 0;
}